*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --ff-primary: " Nunito", Helvetica, Arial, sans-serif;

    --clr-white: #F5F5F5;
}

body {
    background-color: var(--clr-white);
    font-family: var(--ff-primary);
}

a,
a:hover,
a:active,
a:link,
a:visited {
    text-decoration: none;
    color: black;
}

p {
    line-height: 21.82px;
    padding: 0 10px;
}

li {
    list-style: none;
}


img {
    display: block;
    max-width: 100%;
}

/*Menu*/

.menu-bg {
    background-color: var(--clr-white);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1150px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.menu__logo {
    margin: 10px;
}

#logo__img {
    height: 100px;
    width: 200px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    margin-top: 20px;  
}

.nav__list :hover {
    transition: .4s ease;
    background-color: #9DB228;
    transform: scale(1.2);
    border-radius: 2px;
    color: white;
}

.nav-list__link {
    padding: 20px 10px;
}

#menu__title {
    height: 100px;
    width: 200px;
    text-align: center;
    font-size: 2rem;
    border: 1px solid --clr-white;
}

#menu__title span {
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#menu__title h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Estilos padrão do menu */
.hamburger {
    display: none;
    /* Oculta o botão de hambúrguer em telas maiores */
    cursor: pointer;
}

.hamburger-line {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin-bottom: 5px;
}

/* Estilos para telas menores */
@media screen and (max-width: 1100px) {
    .nav {
         display: none;
         /* Oculta a lista de menu em telas menores */
    }

    .nav__list {
        display: block;
    }

    .nav-list__link {
        display: block;
        margin-top: 20px;
        font-weight: 700;
        text-transform: uppercase;
        transition: .5s ease;
    }

    .nav-list__link:hover{
        color: #18d327;
        background-color: #243625;
        transform: scale(1.2);
        border-radius: 10px;
    }

    .menu-hidden {
        display: flex;  
        /* Exibe a lista de menu apenas quando a classe 'menu-hidden' estiver presente */
    }

    .hamburger {
        display: block;
        /* Exibe o botão de hambúrguer em telas menores */
    }
}


/*Header*/

.frase {
    font-size: .8rem;
    max-width: 1050px;
    text-align: justify;
    margin: 0 auto;
    margin-top: 35px;
    padding: 25px 0;
    line-height: 1.3rem;
}

.frase__dia {
    font-size: .9rem;
    color: rgb(1, 1, 32);
}

/*Noticia*/

.noticia {
    max-width: 1050px;
    margin: 0 auto;
}

.noticia-c {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.texto__title {
    text-align: center;
    margin-bottom: 30px;
}

.noticia-c__texto {
    flex: 2 1 250px;
    text-align: justify;
    margin-top: 20px;
}

.noticia-c__img {
    flex: 1 1 250px;
}

/*Colunista*/

.colunista__img {
    width: 230px;
    height: 250px;
}

.colunista__descricao {
    text-align: justify;
}

.colunistas {
    max-width: 1050px;
    margin: 0 auto;
}

.colunista-c {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center
}

.colunista {
    width: 230px;
    margin: 0 20px;
}

.colunista__nome {
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0 5px 0;
}

footer {
    display: flex;
    justify-content: center;
}